/*général*/

::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    height: 100%;
    width: 100%;
}

.accueil{
    height: 100%;
    width: 100%;
    background: url(./image/fond.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center;
    }


header h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

/* général animation*/

.section-lettre{
    position: absolute;
    width: 71%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(min-width:710px){
    .section-lettre{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* 1ére animation flash*/

.lettre{
    color:aliceblue;
    font-size:40px;
    letter-spacing: 15px;
    margin-bottom: 100px;
    animation: flash 4s ease-in infinite;
}

@media(min-width:710px){
    .lettre{
        color:aliceblue;
        font-size: 80px;
        letter-spacing: 15px;
        margin-bottom: 100px;
        animation: flash 4s ease-in infinite;
    }
}

@keyframes flash{
    0%{
        color: #ffff;
        text-shadow: 0 0 7px #ffff;
    }
    50%{
        background: linear-gradient(90deg, rgba(224,142,117,1) 0%, rgba(198,130,52,1) 12%, rgba(217,192,21,1) 100%);
        text-shadow: none;
    }
    100%{
        color: #ffff;
        text-shadow: 0 0 7px #ffff;
    }
}

/*2éme animation :arrivee*/

.bloc-mot{
    animation: arrivee 4s ease;
}

@keyframes arrivee{
    0%{
        transform: translateX(-1200px);
    }
    100%{
        transform: translateX(0px);
    }
}

/*3éme animation sur les lettres*/

/* on cibles chaque lettre et on mets un delai pour qu'elles apparaissent les unes aprés les autres*/
/* méthode nth-child(1) => 1ére lettre*/

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}
.lettre:nth-child(11){
    animation-delay: 1.1s;
}
.lettre:nth-child(12){
    animation-delay: 1.2s;
}
.lettre:nth-child(13){
    animation-delay: 1.3s;
}
.lettre:nth-child(14){
    animation-delay: 1.4s;
}
.lettre:nth-child(15){
    animation-delay: 1.5s;
}
.lettre:nth-child(16){
    animation-delay: 1.6s;
}

/* section images*/

.section-images{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(min-width:800px){
.section-images{
    display: flex;
    height: 300px;
    margin-top:40px;
    justify-content: space-around;
    flex-direction: row;
    }
}

#img-lac, #img-lac1{
    width: 90%;
}

@media(min-width:800px){
#img-lac, #img-lac1{
    border-radius: 5%;
    object-fit: cover;
    width: 30%;
    }
}

#section-images-p{
    text-align: center;
    width: 80%;
    font-size: 12px;
}

@media(min-width:800px){
#section-images-p{
    text-align: left;
    line-height: 1.2;
    width: 33%;
    font-size:13px;
    padding: 10px;
    }
    #section-images-p:hover{
        line-height: 1.5;
        outline: 1px solid black;
        color: orange;
        padding:5px;
        background-color: black;
        font-size: 12px;
        border-radius:5px;
    }
}

#img-lac:hover{
    filter: grayscale();
}

#img-lac1:hover{
    transform: translateY(20px);
    transition: 2s;
    filter: brightness(60%);
}

#img-lac1{
    transition: 2s;
}

/*section double image*/

.section2-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

@media(min-width:800px){
    .section2-images{
        display: flex;
        margin-top:40px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}

#img-nature,#img-sea2{
    border-radius: 10px;
    width: 90%;
}

#img-nature{
    transition: ease 6s;
    order: 0;
    margin-top: 20px;
}

#img-sea2{
    transition: ease 6s;
    order:1;
}

#img-nature:hover{
    transition: ease 6s;
    order:1;
}

#img-sea2:hover{
    transition: ease 6s;
    order:0;
}

@media(min-width:800px){
    #img-nature,#img-sea2{
        border-radius: 10px;
        width: 40%;
    }
    #img-nature{
        margin-top: 0;
    }
}

/* section paragraphes */

.section-paragraphes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(min-width:800px){
    .section-paragraphes{
        display: flex;
        justify-content: space-around;
        margin-top:40px;
        flex-direction: row;
        align-items: baseline;
    }
}

.p-size{
    width: 80%;
}

#first-p{
    line-height: 1.5;
}

@media(min-width:800px){
    .p-size{
        width: 30%;
        text-align: left;
    }
    #first-p{
        transition: 4s;
        line-height: 1.5;
    }
    #first-p:hover{
        transition: 4s;
        transform: rotate(360deg);
    }
    #second-p{
        transition: 4s;
    }
    #second-p:hover{
        transition: 4s;
        transform: translateX(100px);
        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:orange;
    }
}




